<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/template/head.ejs %>
</head>
<body>

<!--menu-->
  <% include partials/template/menu.ejs %>
<!--END menu-->

<!--slider carousel-->
  <% include partials/template/slider.ejs %>
<!--END slider carousel-->

<!--news-->
  <% include partials/template/news1.ejs %>
  <% include partials/template/news2.ejs %>
  <% include partials/template/news3.ejs %>
<!--END news-->

<!--PRODUCTS-->
  <% include partials/template/products.ejs %>
<!--END PRODUCTS-->

<hr>

<!--RECOMMENDED PRODUCTS-->
  <% include partials/template/recomended_products.ejs %>
<!--END RECOMMENDED PRODUCTS-->

<!--FEATURED PRODUCTS-->
  <% include partials/template/featured_products.ejs %>
<!--END FEATURED PRODUCTS-->

<!--footer-->
  <% include partials/template/footer.ejs %>
<!--END footer-->

<!--Copyright-->
  <% include partials/template/copyright.ejs %>
<!--END Copyright-->

<!--javascript default-->
  <% include partials/template/jsdefault.ejs %>
<!--END javascript default-->

</body>
</html>