<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright © MyWebsite. All rights reserved. <a href="http://yourwebsite.com/" >My Website</a></p>
      </div>
    </div>
  </div>
</footer>